# Reading File with Pandas

In [30]:
import pandas as pd

In [18]:
df = pd.read_csv(r'/Users/Bilkis/python/Python Projects/webscrapping projects.csv')
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
5,6,CVS Health,Healthcare,"357,776",10.9%,"259,500","Woonsocket, Rhode Island"
6,7,ExxonMobil,Petroleum industry,"344,582",-16.7%,"61,500","Spring, Texas"
7,8,Alphabet,Technology and cloud computing,"307,394",8.7%,"182,502","Mountain View, California"
8,9,McKesson Corporation,Health,"276,711",4.8%,"48,000","Irving, Texas"
9,10,Cencora,Pharmacy wholesale,"262,173",9.9%,"44,000","Conshohocken, Pennsylvania"
10,11,Costco,Retail,"242,290",6.8%,"316,000","Issaquah, Washington"
11,12,JPMorgan Chase,Financial services,"239,425",54.7%,"309,926","New York City, New York"
12,13,Microsoft,Technology and cloud computing,"211,915",6.9%,"221,000","Redmond, Washington"
13,14,Cardinal Health,Healthcare,"205,012",13.0%,"47,520","Dublin, Ohio"
14,15,Chevron Corporation,Petroleum industry,"200,949",-18.4%,"45,600","San Ramon, California"
15,16,Cigna,Health insurance,"195,265",8.2%,"71,413","Bloomfield, Connecticut"
16,17,Ford Motor Company,Automotive industry,"176,191",11.5%,"177,000","Dearborn, Michigan"
17,18,Bank of America,Financials,"171,912",49.4%,"212,985","Charlotte, North Carolina"
18,19,General Motors,Automotive industry,"171,842",9.6%,"163,000","Detroit, Michigan"
19,20,Elevance Health,Healthcare,"171,340",9.4%,"104,900","Indianapolis, Indiana"
20,21,Citigroup,Financials,"156,820",55.1%,"237,925","New York City, New York"
21,22,Centene,Healthcare,"153,999",6.5%,"67,700","St. Louis, Missouri"
22,23,The Home Depot,Retail,"152,669",-3.0%,"463,100","Atlanta, Georgia"
23,24,Marathon Petroleum,Petroleum industry,"150,307",-16.5%,"18,200","Findlay, Ohio"
24,25,Kroger,Retail,"150,039",-3.6%,"414,000","Cincinnati, Ohio"
25,26,Phillips 66,Petroleum industry,"149,890",-14.7%,"14,000","Houston, Texas"
26,27,Fannie Mae,Financials,"141,240",16.2%,"8,100","Washington, D.C."
27,28,Walgreens Boots Alliance,Pharmaceutical industry,"139,081",4.8%,"268,500","Deerfield, Illinois"
28,29,Valero Energy,Petroleum industry,"139,001",-18.8%,"9,987","San Antonio, Texas"
29,30,Meta Platforms,Technology,"134,902",15.7%,"67,317","Menlo Park, California"
30,31,Verizon Communications,Telecommunications,"133,974",-2.1%,"105,400","New York City, New York"
31,32,AT&T,Conglomerate and telecommunications,"122,428",1.4%,"150,470","Dallas, Texas"
32,33,Comcast,Telecommunications,"121,572",0.1%,"186,000","Philadelphia, Pennsylvania"
33,34,Wells Fargo,Financials,"115,340",39.2%,"226,000","San Francisco, California"
34,35,Goldman Sachs,Financials,"108,418",57.8%,"45,300","New York City, New York"
35,36,Freddie Mac,Financials,"108,050",24.6%,"8,020","McLean, Virginia"
36,37,Target Corporation,Retail,"107,412",-1.6%,"415,000","Minneapolis, Minnesota"
37,38,Humana,Health insurance,"106,374",14.5%,"67,600","Louisville, Kentucky"
38,39,State Farm,Financials,"104,199",16.6%,"65,054","Bloomington, Illinois"
39,40,Tesla,Automotive and energy,"96,773",18.8%,"140,473","Austin, Texas"
40,41,Morgan Stanley,Financials,"96,194",45.9%,"80,006","New York City, New York"
41,42,Johnson & Johnson,Pharmaceutical industry,"95,195",0.3%,"131,900","New Brunswick, New Jersey"
42,43,Archer Daniels Midland,Food industry,"93,935",-7.5%,"41,008","Chicago, Illinois"
43,44,PepsiCo,Beverage,"91,471",5.9%,"318,000","Purchase, New York"
44,45,United Parcel Service,Transportation,"90,958",-9.3%,"382,550","Atlanta, Georgia"
45,46,FedEx,Transportation,"90,155",-3.6%,"446,400","Memphis, Tennessee"
46,47,The Walt Disney Company,Media,"88,898",7.5%,"199,125","Burbank, California"
47,48,Dell Technologies,Technology,"88,425",-13.6%,"120,000","Round Rock, Texas"
48,49,Lowe's,Retail,"86,377",-11.0%,"226,000","Mooresville, North Carolina"
49,50,Procter & Gamble,Consumer products manufacturing,"82,006",2.3%,"107,000","Cincinnati, Ohio"
50,51,Energy Transfer Partners,Petroleum industry,"78,586",-12.6%,"13,786","Dallas, Texas"
51,52,Boeing,Aerospace and defense,"77,794",16.8%,"171,000","Arlington County, Virginia"
52,53,Albertsons,Retail,"77,650",8.0%,"198,650","Boise, Idaho"
53,54,Sysco,Food service,"76,325",11.2%,"71,750","Houston, Texas"
54,55,RTX Corporation,Conglomerate,"68,920",2.8%,"185,000","Arlington County, Virginia"
55,56,General Electric,Conglomerate,"67,954",-11.2%,"125,000","Boston, Massachusetts"
56,57,Lockheed Martin,Aerospace and defense,"67,571",2.4%,"122,000","Bethesda, Maryland"
57,58,American Express,Financial,"67,364",21.1%,"74,600","New York City, New York"
58,59,Caterpillar,Machinery,"67,060",12.8%,"113,200","Deerfield, Illinois"
59,60,MetLife,Financials,"66,905",-4.3%,"45,000","New York City, New York"
60,61,HCA Healthcare,Healthcare,"64,968",7.9%,"265,000","Nashville, Tennessee"
61,62,Progressive Corporation,Insurance,"62,109",25.2%,"61,432","Mayfield Village, Ohio"
62,63,IBM,Technology and cloud computing,"61,860",-16.3%,"296,600","Armonk, New York"
63,64,John Deere,Agriculture manufacturing,"61,251",16.5%,"82,956","Moline, Illinois"
64,65,Nvidia,Technology,"60,922",125.9%,"29,600","Santa Clara, California"
65,66,StoneX Group,Financials,"60,856",-7.8%,"4,137","New York City, New York"
66,67,Merck & Co.,Pharmaceutical industry,"60,115",1.4%,"71,000","Kenilworth, New Jersey"
67,68,ConocoPhillips,Petroleum industry,"58,574",-28.7%,"9,900","Houston, Texas"
68,69,Pfizer,Pharmaceutical industry,"58,496",-41.7%,"88,000","New York City, New York"
69,70,Delta Air Lines,Airline,"58,048",14.8%,"103,000","Atlanta, Georgia"
70,71,TD Synnex,Infotech,"57,555",-7.7%,"28,000","Clearwater, Florida"
71,72,Publix,Retail,"57,534",4.7%,"253,000","Lakeland, Florida"
72,73,Allstate,Insurance,"57,094",11.1%,"53,200","Northfield Township, Cook County, Illinois"
73,74,Cisco,Telecom hardware manufacturing,"56,998",10.6%,"84,900","San Jose, California"
74,75,Nationwide Mutual Insurance Company,Financial,"54,609",6.1%,"24,118","Columbus, Ohio"
75,76,Charter Communications,Telecommunications,"54,607",1.1%,"101,100","Stamford, Connecticut"
76,77,AbbVie,Pharmaceutical industry,"54,317",-6.4%,"50,000","Lake Bluff, Illinois"
77,78,New York Life Insurance Company,Insurance,"54,317",14.2%,"15,384","New York City, New York"
78,79,Intel,Technology,"54,228",-14.0%,"124,800","Santa Clara, California"
79,80,TJX,Retail,"49,936",2.9%,"329,000","Framingham, Massachusetts"
80,81,Prudential Financial,Financials,"53,979",-10.1%,"40,366","Newark, New Jersey"
81,82,HP,Technology,"53,718",-14.5%,"58,000","Palo Alto, California"
82,83,United Airlines,Airline,"53,717",19.5%,"103,300","Chicago, Illinois"
83,84,Performance Food Group,Food processing,"53,355",13.1%,"34,825","Richmond, Virginia"
84,85,Tyson Foods,Food processing,"52,788",-0.8%,"139,000","Springdale, Arkansas"
85,86,American Airlines,Airline,"52,788",7.8%,"132,100","Fort Worth, Texas"
86,87,Liberty Mutual,Insurance,"52,612",5.3%,"45,000","Boston, Massachusetts"
87,88,Nike,Apparel,"51,217",9.6%,"83,700","Beaverton, Oregon"
88,89,Oracle Corporation,Technology,"49,954",17.7%,"164,000","Austin, Texas"
89,90,Enterprise Products,Petroleum industry,"49,715",-14.6%,"7,500","Houston, Texas"
90,91,Capital One Financial,Financials,"49,484",29.0%,"51,987","Richmond, Virginia"
91,92,Plains All American Pipeline,Petroleum industry,"48,712",-15.1%,"4,200","Houston, Texas"
92,93,World Kinect Corporation,Energy trading,"47,711",-19.2%,"5,289","Doral, Florida"
93,94,AIG,Insurance,"46,802",-17.1%,"25,200","New York City, New York"
94,95,Coca-Cola,Beverage,"45,754",6.4%,"79,100","Atlanta, Georgia"
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [16]:
pd.set_option('display.max.rows', 100)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    100 non-null    int64
 1   Name                    100 non-null    object
 2   Industry                100 non-null    object
 3   Revenue (USD millions)  100 non-null    object
 4   Revenue growth          100 non-null    object
 5   Employees               100 non-null    object
 6   Headquarters            100 non-null    object
dtypes: int64(1), object(6)
memory usage: 5.6+ KB

In [24]:
df.head(20)

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
5,6,CVS Health,Healthcare,"357,776",10.9%,"259,500","Woonsocket, Rhode Island"
6,7,ExxonMobil,Petroleum industry,"344,582",-16.7%,"61,500","Spring, Texas"
7,8,Alphabet,Technology and cloud computing,"307,394",8.7%,"182,502","Mountain View, California"
8,9,McKesson Corporation,Health,"276,711",4.8%,"48,000","Irving, Texas"
9,10,Cencora,Pharmacy wholesale,"262,173",9.9%,"44,000","Conshohocken, Pennsylvania"
10,11,Costco,Retail,"242,290",6.8%,"316,000","Issaquah, Washington"
11,12,JPMorgan Chase,Financial services,"239,425",54.7%,"309,926","New York City, New York"
12,13,Microsoft,Technology and cloud computing,"211,915",6.9%,"221,000","Redmond, Washington"
13,14,Cardinal Health,Healthcare,"205,012",13.0%,"47,520","Dublin, Ohio"
14,15,Chevron Corporation,Petroleum industry,"200,949",-18.4%,"45,600","San Ramon, California"
15,16,Cigna,Health insurance,"195,265",8.2%,"71,413","Bloomfield, Connecticut"
16,17,Ford Motor Company,Automotive industry,"176,191",11.5%,"177,000","Dearborn, Michigan"
17,18,Bank of America,Financials,"171,912",49.4%,"212,985","Charlotte, North Carolina"
18,19,General Motors,Automotive industry,"171,842",9.6%,"163,000","Detroit, Michigan"
19,20,Elevance Health,Healthcare,"171,340",9.4%,"104,900","Indianapolis, Indiana"

In [28]:
df.tail(20)

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
80,81,Prudential Financial,Financials,"53,979",-10.1%,"40,366","Newark, New Jersey"
81,82,HP,Technology,"53,718",-14.5%,"58,000","Palo Alto, California"
82,83,United Airlines,Airline,"53,717",19.5%,"103,300","Chicago, Illinois"
83,84,Performance Food Group,Food processing,"53,355",13.1%,"34,825","Richmond, Virginia"
84,85,Tyson Foods,Food processing,"52,788",-0.8%,"139,000","Springdale, Arkansas"
85,86,American Airlines,Airline,"52,788",7.8%,"132,100","Fort Worth, Texas"
86,87,Liberty Mutual,Insurance,"52,612",5.3%,"45,000","Boston, Massachusetts"
87,88,Nike,Apparel,"51,217",9.6%,"83,700","Beaverton, Oregon"
88,89,Oracle Corporation,Technology,"49,954",17.7%,"164,000","Austin, Texas"
89,90,Enterprise Products,Petroleum industry,"49,715",-14.6%,"7,500","Houston, Texas"
90,91,Capital One Financial,Financials,"49,484",29.0%,"51,987","Richmond, Virginia"
91,92,Plains All American Pipeline,Petroleum industry,"48,712",-15.1%,"4,200","Houston, Texas"
92,93,World Kinect Corporation,Energy trading,"47,711",-19.2%,"5,289","Doral, Florida"
93,94,AIG,Insurance,"46,802",-17.1%,"25,200","New York City, New York"
94,95,Coca-Cola,Beverage,"45,754",6.4%,"79,100","Atlanta, Georgia"
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [34]:
df2 = pd.read_csv(r'/Users/Bilkis/Downloads/world_population.csv')

df2

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20